main > .left{
    width: 27%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.017);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.36);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    margin: 17px 0px;
}
.trailers > img{
    width: 90%;
    display: flex;
    border-radius: 50px;
    padding: 8px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trailers > h3{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
