a , p , h1 , h2 , h3 , h4, button, input{
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
body{
    margin: 0;
    background-image: url("../images/full2.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 80vh;
    padding: 10vh 5%;
}
.glass{
    width: 94%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    padding: 3%;
    border: 2px solid rgba(255, 255, 255, 0.3);
}
header{
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    width: 25%;
    height: 100%;
}
.search{
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: white;
    gap: 10px;
}
.right{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > .right > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 70%;
}
header > .right > nav > a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    padding: 0 30px;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    background-color: transparent;
    box-shadow: 0 0 6px transparent;
}
.active{
    background-color: rgba(255, 255, 255, 0.017);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.36);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.25);
}
header > .right > nav > a:hover{
    background-color: rgba(255, 255, 255, 0.017);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.36);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.25);
}
.notification{
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.017);
    backdrop-filter: blur(2px);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 17px;
}
.auth{
    height: 100%;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.017);
    backdrop-filter: blur(2px);
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}
.auth > img{
    height: 80%;
    border-radius: 100px;
    border: 1px solid rgba(0, 128, 0, 0.8);
}
.user-info{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user-info > .username{
    color: white;
    font-size: 17px;
    font-weight: 600;
    margin: 0;
}
.user-info > .tag{
    color: rgb(234, 234, 234);
    font-weight: 300;
    margin: 0;
    font-size: 13px;
}
.auth > .fa-chevron-down{
    color: white;
    margin: 0 15px;
}